$f-barlow: 'Barlow', sans-serif;
$f-roboto: 'Roboto', sans-serif;
$f-main: Helvetica, Arial, sans-serif;
// $f-head Arial Black, Arial, sans-serif;
$c-background:#f8f8ff;
$c-myBlue: #034f67;
$c-printGray: #9d9d9d;

@mixin upper {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1em;
}

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
/*####################################*/
/*####################################*/
/*####################################*/

body{
  background: $c-background;
  font-family: $f-main; 
  font-size: 110%;
}

main{ 
  margin: 8vh auto;
  padding: 16px;
}

section{
  margin-bottom: 32px;
  // background-color: silver;
  margin-bottom: 46px;
}

.widthCon{
  max-width: 960px
}
article{
  margin-bottom: 32px;
}
.flexCon{
  display: flex;

  .flexCon__aside{
    min-width: 280px;
    margin-right: 12px;
    text-align: left;
  }
  .flexCon__content{
    min-width: 360px;
  }
}

/*####################################*/
/*####################################*/
/*####################################*/

h1, h2, h3 {
 font-family: $f-roboto;
  color: $c-myBlue;
}
h1{ 
  margin-bottom: 48px;
  font-size: 6vw;
  font-weight: 900;
}

h3{ 
  @include upper();
  margin-bottom: 32px;
}

h4 { 
  margin-bottom: 8px;
}

p{
  line-height: 1.8rem;
}
dd{
  line-height: 1.8rem;
}
li{
  line-height: 1.8rem;
  margin-left:24px;
}
a{
  text-decoration: none;
  color: $c-myBlue;
  background-image: linear-gradient($c-myBlue, $c-myBlue);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  transition: background-size 500ms ease-in-out;
}
a:hover{
  cursor: pointer;
  background-size: 100% 2px;
}


hr{
  border-bottom: 3px solid $c-myBlue;
  margin-top: 20px;
  margin-bottom: 64px;
}

.green{ 
  color: #04501c;
  @include upper();
  font-weight: 900;
  margin-bottom: 18px;

}

.subline{
  margin-bottom: 24px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

/*####################################*/
/*############### MEDIA ##############*/
/*####################################*/

@media only screen and (max-width: 640px){

  main{
    width: 100%;
  }
  .flexCon {
    flex-direction: column;
    .flexCon__aside{
      margin-bottom: 8px;
    }
    .flexCon__content{
      margin-bottom: 12px;
    }
  }
  h4{
    font-size: 1.3rem; 
    margin-bottom: 6px;
  }
  .flexHead{
    font-weight: bold;
    font-size: 1.3rem; 
    margin-bottom: 6px;
  }
}
/*####################################*/
/*############### PRINT ##############*/
/*####################################*/
@page {
  margin-left: 3cm;
  margin-right: 3cm;
}
@media print{
  body{
    background-color: #fff;
    color: #000;
  }
  main{
    margin: 0 auto;
  }
  .flexCon__aside{
    width: 180pt;
    margin-right:  8pt;
  }
  h1, h2, h3, h4, h5 {
    color: $c-printGray;
    page-break-after:avoid;
  }
  a{
    color: $c-printGray;
  }
  .a_show:after {
    content: " (" attr(href) ")";
  }

  hr{
    border-bottom: 2pt solid $c-printGray;

  }
  h1{
    font-size: 20pt;
  }
  h3{
    font-size: 14pt;
  }
  p, a, h4{
    font-size: 11pt;
    line-height: 18pt;
  }
}
//   p+p {
//     text-indent: 3em;
//     margin-top: -1em;
// } 
// a:after {
//   content: " [" attr(href) "]";
// }
//}