*{
  /* outline: 1px solid pink; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --c-mainblau: #034f67;
  --c-hellgrau: #e6e1dc;
  --c-bikini: #77212e;
  --c-dunkel: #373434;
  --c-chili: #9B2335;
  --c-alarm: #f9423a;
  --c-superblue: #4244b6;
  --c-bronze: #a6966c;
  --c-accent: #a6966c;
  --c-second: #034f67;
}

body{
  font-family: Barlow, Arial, sans-serif;
  /* font-family: Arial, sans-serif; */
  background-color: #e6e1dc;
  min-height: 100vh;
  font-size: 100%;
}
header{
  min-height: 100vh;
  position: relative;
}
nav{
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  /* z-index: 100; */
  background-color: var(--c-accent);
}



.wrapper{
  max-width: 800px;
  margin: 0 auto;
}
.flexBox{
  display: flex;
  justify-content: space-between;
}
nav a{
  display: inline-block;
}
nav button, nav a{
  background: transparent;
  font-family: inherit;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  border: none;
  outline: none;
  padding: 16px 8px
}

nav button:hover, nav button:focus,
nav a:hover, nav a:focus{
  color:#77212e;
}



/*##########################################*/
/*##########################################*/
/*##########################################*/
/*##########################################*/


.pannelBox {
  height: 0%;
  width: 100%;
  /* width: 800px; */
  margin: 0 auto;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: var(--c-accent);
  display: flex; 
  align-items: center;
  overflow-x: hidden; 
  transition: 0.5s; 
}

.menuPannel {

  position: relative;
  /* top: 10%;  */
  height: 60%;
  width: 600px;
  padding: 0 6px;
  margin: 0 auto;
  /* border: 2px solid white; */
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.pannelBox a {
  display: block;
  width: 100%;
  text-decoration: none;
  letter-spacing: 0.5em;
  text-align: center;
  color: #e6e1dc;
  background-color: var(--c-second);
  text-transform: uppercase;
  padding: 2px 0 4px 0;
  border: 1px solid var(--c-accent);
  transition: 0.3s; 
}


.pannelBox .closeBtn {
  position: absolute;
  background-color: inherit;
  border: none;
  outline: none;
  top: 20px;
  right: 45px;
  font-size: 50px;
  font-weight: 200;
  cursor: pointer;
  color: var(--c-second);
  transition: 0.3s; 
}

.pannelBox a:hover, .pannelBox a:focus {
  border: 1px solid var(--c-second);
  color: white;
  box-shadow: 0 6px 16px -6px black;
  -webkit-box-shadow: 0 6px 16px -6px black;}



  .pannelBox .closeBtn:hover{
    color: white;
  }

  /*##########################################*/
/*##########################################*/
/*##########################################*/
/*##########################################*/


main{
  min-height: 100vh;
  width: 600px;
  margin: 0 auto;
  /* display: flex; */
}
.contactSection{
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  border: 1px solid orange;
}
.contactContainer{
  border: 1px solid orange;

}
ul{
  list-style: none;
}
.contact{
  font-size: 30px;
  /* text-transform: uppercase; */
  letter-spacing: 5px;
  line-height: 1.6;
  text-align: center;
}
.contactLink{
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
}
.balken{
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  background-color: inherit;
}
/*##########################################*/
/*##########################################*/
/*##########################################*/
/*##########################################*/



@media screen and (max-height: 450px) {
  .pannelBox a {font-size: 20px}
  .pannelBox .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}