*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid gainsboro;
}



body{
  font-family: 'Cairo', Arial, sans-serif;
  font-size: 100%;
  // background-color: gainsboro;
}

@import 'vari';
@import 'typo';
@import 'sections';