<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout mit scss</title>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style/main.css">
</head>
<body>
  <header>
    <h1>Layout</h1>
    <h1>mit scss</h1>
  </header>
  <main>
    <section>
      <div class="sectionHead"><h1>SectionHead</h1></div>
      <div class="flexBox">
        <article>
          <h1>Article</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore corporis, fugit repudiandae neque, perferendis laboriosam necessitatibus dolorem atque, nesciunt quo dolore architecto voluptatibus sunt placeat rem. Assumenda libero cumque tempora.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam fuga consectetur nostrum consequuntur earum atque omnis doloremque in amet similique.</p>
        </article>
        <aside>
          <h4>Aside</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, obcaecati ab. Earum fugit rem dignissimos fugiat saepe odio quibusdam maxime?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nulla nobis assumenda, culpa qui numquam quasi nam iusto deserunt labore aliquam atque voluptates cumque repellat voluptatum incidunt voluptas hic autem aspernatur? Ab qui, quibusdam unde necessitatibus voluptas voluptate nobis a.</p>
        </aside>
      </div>
    </section>
    <section>
      <div class="sectionHead"><h1>SectionHead</h1></div>
      <div class="flexBox">
        <article>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore corporis, fugit repudiandae neque, perferendis laboriosam necessitatibus dolorem atque, nesciunt quo dolore architecto voluptatibus sunt placeat rem. Assumenda libero cumque tempora.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam fuga consectetur nostrum consequuntur earum atque omnis doloremque in amet similique.</p>
        </article>
        <aside>
          <dl>
            <dt>Definetion List</dt>
            <dd>Ein Beitrag</dd>
            <dd>Ein Eintag</dd>
            <dd>ZUr Erkundung</dd>
          </dl>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, obcaecati ab. Earum fugit rem dignissimos fugiat saepe odio quibusdam maxime?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nulla nobis assumenda, culpa qui numquam quasi nam iusto deserunt labore aliquam atque voluptates cumque repellat voluptatum incidunt voluptas hic autem aspernatur? Ab qui, quibusdam unde necessitatibus voluptas voluptate nobis a.</p>
        </aside>
      </div>
    </section>

    <section>
      <div class="sectionHead vertcal"><h1>Inhalt</h1></div>
      <div class="flexBox">
        <article></article>
        <aside class="inhalt">
          <dl>
            <dt>Mehr Infos:</dt>
            <dd>Formeln</dd>
            <dd>Anwendung</dd>
            <dd>Beispiele</dd>
          </dl>
        </aside>
      </div>

    </section>

    <section>
      <div class="sectionHead"><h1>Ohne Aside</h1></div>
      <div class="flexBox">
        <article>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quos!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos asperiores odio aliquam dolorem, ipsam voluptatum corrupti magnam unde enim sunt nulla quas beatae maxime ea nihil! Tempore ex iste repellendus tempora. Adipisci ex, nihil laborum veniam ipsum doloribus totam ipsam?</p>
        </article>
        <aside>
          <img src="./dont/lunQuad.jpg" alt="Welcome to Luna">
        </aside>
      </div>

    </section>
  </main>
</body>
</html>